[Unit]
Description=Cardano db sync

[Service]
Environment=PGPASSFILE=config/pgpass-mainnet
ExecStart={{ ansible_env.HOME }}/cardano-db-sync/db-sync-node/bin/cardano-db-sync \
  --config config/mainnet-config.yaml \
  --schema-dir schema/ \
  --socket-path ../cardano-node/state-node-mainnet/node.socket \
  --state-dir ledger-state/mainnet/ \
  ;

WorkingDirectory={{ ansible_env.HOME }}/cardano-db-sync
User={{ ansible_env.USER }}
Group={{ ansible_env.USER }}

[Install]
WantedBy=multi-user.target
