[Unit]
Description=Cardano node testnet

[Service]
ExecStart=/home/ubuntu/cardano-node/testnet-node-local/bin/cardano-node-testnet
WorkingDirectory=/home/ubuntu/cardano-node
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
